.aboutpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 85vh;
    background-color: #0b021b;
}
.introcontain{
    width: auto;
}
.introhead{
    font-size: 35px;
    color: lightgreen;
}
.aboutpara{
    font-size: 22px;
    padding: 25px 0px;
    color: white;
}
.textspan{
    color: #c770f0;
}

