*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    justify-items: baseline;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    color: lightskyblue;
    background-color: #361f5f;
}
.link{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0px 5px;
    text-decoration: none;
    color: white;
    background-color: #c770f0;
}
.link:hover{
    color: #c770f0;
    background-color: white;
    transition: 0.5s;
}
